@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Sans JP";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
html {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  max-width: 37.5rem;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1250px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 1.25rem;
  background-color: #000;
  color: #fff;
}

.p-header {
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  z-index: 100;
  right: 0;
}

.p-license {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #EFF7F0;
}

.p-license__title-wrapper {
  text-align: center;
  background: #286A36;
  border-radius: 0.5rem;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
}

.p-license__title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.p-license__body {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-license__body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .p-license__text-area {
    max-width: 37.5rem;
    width: 100%;
  }
}

.p-license__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .p-license__heading {
    font-size: 2rem;
  }
}

.p-license__heading span {
  color: #286A36;
}

.p-license__texts {
  margin-top: 2rem;
  display: grid;
}

.p-license__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: #000;
}

.p-license__img {
  border-radius: 1.5rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .p-license__img {
    max-width: 35rem;
    width: 100%;
    flex: 0 0 auto;
  }
}

.p-license__img img {
  aspect-ratio: 560/373;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-license__cards {
  margin-top: 2.5rem;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .p-license__cards {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem;
  }
}

.p-license__card {
  background-color: #fff;
  padding: 1.5rem;
}

.p-license__card-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-align: center;
  color: #286A36;
}

.p-license__card-text {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: #000;
}

.p-mv {
  padding-top: 6.125rem;
}

.p-mv__img img {
  aspect-ratio: 1400/634;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-site {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.p-site__title-wrapper {
  text-align: center;
}

.p-site__text {
  margin-top: 1.5rem;
}

.p-site__issues {
  margin-top: 5.1875rem;
}

.p-site__issues-grid {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-site__issues-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.p-site__issue-card {
  background-color: #F0F0F0;
  border-radius: 1.5rem;
  position: relative;
  padding: 3.25rem 1.25rem 2rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-site__issue-card {
    padding: 3.25rem 1.5rem 2rem;
  }
}

.p-site__issue-quote {
  position: absolute;
  top: -1.6875rem;
  left: 1.25rem;
  width: 5rem;
  height: auto;
}

.p-site__issue-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-align: center;
  color: #286A36;
}
@media screen and (min-width: 768px) {
  .p-site__issue-title {
    font-size: 1.5rem;
  }
}

.p-site__issue-list {
  margin-top: 1.125rem;
  display: grid;
  flex: 1;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
}

.p-site__issue-item {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  padding-left: 0.25rem;
  color: #000;
}

.p-site__issue-item::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  background-color: #286A36;
  flex-shrink: 0;
}

.p-site__issue-btn {
  margin-top: 1.5rem;
  background-color: #286A36;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .p-site__issue-btn {
    margin-top: 2rem;
    font-size: 1.5rem;
    width: 29.0625rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-site__issue-btn-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.p-site__arrow {
  margin-top: 1.75rem;
  max-width: 3rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-site__arrow {
    margin-top: 2.9375rem;
    max-width: 5.3125rem;
  }
}

.p-site__arrow img {
  width: 100%;
  height: auto;
}

.c-main-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}
@media screen and (min-width: 768px) {
  .c-main-text {
    font-size: 1.125rem;
  }
}

.c-main-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}
@media screen and (min-width: 768px) {
  .c-main-title {
    font-size: 2.5rem;
  }
}

.c-main-title span {
  color: #286A36;
  position: relative;
}

.c-main-title span::before {
  position: absolute;
  content: "";
  background: #FFDF3F;
  height: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0rem;
}
