// Base
@use "./base/_base";
@use "./base/_reset";

// Layout
@use "./layout/_l-inner";
@use "./layout/_test";

// Project
@use "./project/_p-apply";
@use "./project/_p-cost";
@use "./project/_p-example";
@use "./project/_p-faq";
@use "./project/_p-header";
@use "./project/_p-license";
@use "./project/_p-mv";
@use "./project/_p-now";
@use "./project/_p-point";
@use "./project/_p-site";

// Component
@use "./component/_c-main-text";
@use "./component/_c-main-title";
