@use "../global" as *;

.c-main-text {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: center;
  color: $black;
  @include mq("md") {
    font-size: rem(18);
  }
}


