@use "../global" as *;

.c-main-title {
  font-size: rem(24);
  font-weight: $bold;
  font-variation-settings: "wght" 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $black;
  
  @include mq("md") {
    text-align: center;
    font-size: rem(40);
  }
}

.c-main-title span {
  color: $main-color;
  position: relative;
  --width: 0%;
  display: inline-block;
}

.c-main-title span::before {
  position: absolute;
  content: '';
  background: $accent-color;
  height: rem(8);
  // left: 0;
  // right: 0;
  bottom: rem(-0);
  z-index: -1;
  width: var(--width);
}