@use "../global" as *;

.c-main-text {
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  position: relative;
  
  @include mq("md") {
    text-align: center;
    font-size: rem(18);
  }
}
.c-main-text span {
  position: relative;
}
.c-main-text span::before {
  position: absolute;
  content: '';
  background: #8ECEA5;
  height: rem(8);
  left: 0;
  right: 0;
  bottom: rem(-4);
}