@use "../global" as *;

.p-apply {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(72);
    padding-bottom: rem(72);

  }
}

.p-apply__title {
  margin: 0;
  text-align: center;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.p-apply__steps {
  margin-top: rem(40);
  display: grid;
  gap: rem(40);
  position: relative;

  @include mq("md") {
    margin-top: rem(113);
    grid-template-columns: repeat(5, 1fr);
    gap: rem(25);
  }
}

.p-apply__step {
  background-color: #EFF7F0;
  border-radius: rem(8);
  padding: rem(40) rem(16) rem(24);
  text-align: center;
  position: relative;
  display: grid;
  gap: rem(8);

  @include mq("md") {
    padding-top: rem(40);
    min-height: rem(282);
  }
}

.p-apply__step::before {
  position: absolute;
  content: '';
  background: url(../images/common/triangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(15);
  height: auto;
  aspect-ratio: 15 / 40;
  object-fit: cover;
  top: rem(-14);
  transform: translateX(-50%) rotate(90deg);
  left: 50%;

  @include mq(md) {
    position: absolute;
    content: '';
    background: url(../images/common/triangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: rem(15);
    height: auto;
    aspect-ratio: 15 / 40;
    object-fit: cover;
    top: 50%;
    left: initial;
    transform: translateY(-50%);
    right: rem(-21);

  }
}

.p-apply__step:last-child::before {
  display: none;
}

.p-apply__num {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  background-color: #579E64;
  display: grid;
  place-items: center;
  color: $white;
  font-family: "MuseoModerno", system-ui, -apple-system, "Segoe UI", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: rem(20);
  width: rem(48);
  height: rem(48);

  @include mq(md){
    top: rem(-14);
    width: rem(72);
    height: rem(72);
    font-size: rem(28);
    
  }
}

.p-apply__step-title {
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: $main-color;

  @include mq("md") {
    font-size: rem(20);
    min-height: rem(68);
  }
}

.p-apply__step-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  text-align: left;
  font-size: rem(14);
  @include mq(md){
    font-size: rem(16);
    
  }
}