@use "../global" as *;

.p-cost {
  padding-top: rem(72);
  padding-bottom: rem(100);
}

.p-cost__title-wrapper {
  text-align: center;
}

.p-cost__title {
  font-size: rem(32);
  color: $black;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.p-cost__title span {
  color: $main-color;
}

.p-cost__text-wrapper {
  margin-top: rem(32);
  text-align: center;
}

.p-cost__img {
  margin-top: rem(47);
  position: relative;
}

.p-cost__img::before {
  position: absolute;
  content: '';
  background: url(../images/common/cost_attention.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(97);
  height: auto;
  aspect-ratio: 97 / 97;
  object-fit: cover;
  bottom: rem(56);
  right: rem(-16);

}

.p-cost__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-cost__note {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq("md") {
    margin-top: rem(40);
    gap: rem(8);
  }
}

.p-cost__note-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(4) rem(8);
  background-color: #EFF7F0;
  border: 1px solid $main-color;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $main-color;
  width: fit-content;
}

.p-cost__note-list {
  margin-top: rem(4);
}

.p-cost__note-item {
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;
}