@use "../global" as *;

.p-example {
  background-color: #F0F0F0;
  padding-top: rem(72);
  padding-bottom: rem(56);
}

.p-example__title-wrapper {
  text-align: center;
}

.p-example__title {
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;
  @include mq("md") {
    font-size: rem(32);
  }
}

.p-example__cards {
  margin-top: rem(56);
  display: grid;
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: rem(36);
  }
}

.p-example__card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-example__card-column {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.p-example__img img {
  aspect-ratio: 376 / 212;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-example__head {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq("md") {
    min-height: rem(156);
  }
}

.p-example__case-title {
  margin: 0;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
}

.p-example__company {
  margin: 0;
  margin-top: auto;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $main-color;
}

.p-example__body {
  margin-top: rem(24);
  padding-top: rem(24);
  display: grid;
  gap: rem(16);
  border-top: 1px solid #898989;
}

.p-example__label {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(2) rem(16);
  border-radius: rem(4);
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;
  width: fit-content;
}

.p-example__label--issue {
  background-color: #579E64;
}

.p-example__label--do {
  background-color: $main-color;
}

.p-example__label--effect {
  background-color: $accent-color;
  color: $black;
}

.p-example__list {
  margin-top: rem(16);
  display: grid;
  gap: rem(4);
}

.p-example__item {
  display: flex;
  gap: rem(5);
  align-items: flex-start;
  padding-left: rem(4);
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
}

.p-example__item::before {
  content: '';
  width: rem(8);
  height: rem(8);
  border-radius: 999px;
  background-color: #579E64;
  flex-shrink: 0;
  margin-top: rem(9);
}

.p-example__list--do .p-example__item::before {
  background-color: $main-color;
}

.p-example__list--effect .p-example__item::before {
  background-color: $accent-color;
}

