@use "../global" as *;

.p-example {
  background-color: #F0F0F0;
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(72);
    padding-bottom: rem(56);

  }
}

.p-example__title-wrapper {
  text-align: center;
}

.p-example__title {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.p-example__cards {
  display: grid;
  gap: rem(24);
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(56);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: rem(36);
  }
}

.p-example__card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-example__card-column {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.p-example__img img {
  aspect-ratio: 376 / 212;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-example__head {
  display: flex;
  flex-direction: column;
  margin-top: rem(16);
  gap: rem(12);

  @include mq("md") {
    gap: rem(16);
    margin-top: rem(24);
    min-height: rem(156);
  }
}

.p-example__case-title {
  margin: 0;
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  font-size: rem(16);

  @include mq(md) {
    font-size: rem(18);

  }
}

.p-example__company {
  margin: 0;
  margin-top: auto;
  font-size: rem(14);
  font-weight: $bold;
  font-variation-settings: "wght" 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $main-color;
}

.p-example__body {
  display: grid;
  gap: rem(12);
  border-top: 1px solid #898989;
  margin-top: rem(16);
  padding-top: rem(16);
  @include mq(md){
    margin-top: rem(24);
    padding-top: rem(24);
    // gap: rem(16);
  }
}
.p-example__block {
  @include mq(md){
    // min-height: rem(175);
  }
}
.p-example__label {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(2) rem(16);
  border-radius: rem(4);
  font-size: rem(14);
  font-weight: $bold;
  font-variation-settings: "wght" 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;
  width: fit-content;
}

.p-example__label--issue {
  background-color: #579E64;
}

.p-example__label--do {
  background-color: $main-color;
}

.p-example__label--effect {
  background-color: $accent-color;
  color: $black;
}

.p-example__list {
  display: grid;
  gap: rem(4);
  margin-top: rem(12);
  @include mq(md){
    margin-top: rem(16);
    
  }
}

.p-example__item {
  display: flex;
  gap: rem(5);
  align-items: flex-start;
  padding-left: rem(4);
  font-size: rem(14);
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  @include mq(md){
    font-size: rem(16);
  }
}

.p-example__item::before {
  content: '';
  width: rem(8);
  height: rem(8);
  border-radius: 999px;
  background-color: #579E64;
  flex-shrink: 0;
  margin-top: rem(9);
}

.p-example__list--do .p-example__item::before {
  background-color: $main-color;
}

.p-example__list--effect .p-example__item::before {
  background-color: $accent-color;
}