@use "../global" as *;

.p-faq {
  padding-top: rem(56);
}

.p-faq__title {
  text-align: center;
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.p-faq__items {
  margin-top: rem(56);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.p-faq__item {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.p-faq__item+.p-faq__item {
  margin-top: rem(20);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.p-faq__item--accent {
  background-color: #EFF7F0;
}

.p-faq__q {
  display: flex;
  align-items: center;
  gap: rem(24);
  padding: rem(20) rem(24);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
  background-color: #F0F0F0;
  position: relative;
}


.p-faq__item--accent>.p-faq__q {
  background-color: #EFF7F0;
}

.p-faq__qa {
  font-family: "MuseoModerno", system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $main-color;
  flex: 0 0 auto;
}

.p-faq__qa--a {
  color: #579E64;
}

.p-faq__q-text {
  margin: 0;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $main-color;
}

.p-faq__a {
  display: flex;
  gap: rem(24);
  padding: rem(24);
  padding-top: rem(24);
  padding-bottom: rem(24);
  padding-left: rem(24);
  padding-right: rem(166);
  background-color: #F0F0F0;
}

.p-faq__item--accent>.p-faq__a {
  background-color: #EFF7F0;
}

.p-faq__a-text {
  margin: 0;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  flex: 1;
}