@use "../global" as *;

.p-license {
  background: #EFF7F0;
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(64);
    padding-bottom: rem(64);

  }
}

.p-license__title-wrapper {
  text-align: center;
  background: $main-color;
  border-radius: rem(8);
  padding-top: rem(9);
  padding-bottom: rem(9);
}

.p-license__title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(28);

  }
}

.p-license__body {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(16);

  @include mq("md") {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(40);
    margin-top: rem(48);
  }
}

.p-license__text-area {
  @include mq("md") {
    max-width: rem(600);
    width: 100%;
  }
}

.p-license__heading {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.p-license__heading span {
  color: $main-color;
}

.p-license__texts {
  margin-top: rem(16);
  display: grid;

  @include mq(md) {
    margin-top: rem(32);

  }
}

.p-license__text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(16);

  }
}

.p-license__img {
  overflow: hidden;
  border-radius: rem(16);

  @include mq("md") {
    border-radius: rem(24);
    max-width: rem(560);
    width: 100%;
    flex: 0 0 auto;
  }
}

.p-license__img img {
  aspect-ratio: 560 / 373;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-license__cards {
  margin-top: rem(24);
  display: grid;
  gap: rem(16);

  @include mq("md") {
    margin-top: rem(48);
    grid-template-columns: repeat(3, 1fr);
    gap: rem(36);
  }
}

.p-license__card {
  background-color: $white;
  padding: rem(16);

  @include mq(md) {
    padding: rem(24);

  }
}

.p-license__card-title {
  font-weight: $bold;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-align: center;
  color: $main-color;
  font-size: rem(20);
  margin-top: initial;
  margin-bottom: initial;

  @include mq(md) {
    font-size: rem(24);

  }
}

.p-license__card-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  margin-top: rem(12);
  font-size: rem(14);
  @include mq(md){
    margin-top: rem(16);
    font-size: rem(16);
    
  }
}