@use "../global" as *;

.p-mv {
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #FFFFFF 0%, #CCE9D4 67%, #62BD7B 100%);
  aspect-ratio: 375 / 700;
  margin-top: rem(40);

  @include mq(md) {
    display: flex;
    align-items: center;
    margin-top: rem(92);
    aspect-ratio: 1440 / 640;

  }
}

.p-mv__img {
  position: absolute;
  left: 0;
  top: rem(-40);

  @include mq(md) {
    top: 0;

  }
}

.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-mv__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.p-mv__bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(266deg, rgba(98, 189, 123, 1) 0%, rgba(204, 233, 212, 1) 67%, rgba(255, 255, 255, 1) 100%);
  opacity: 0.9;
}

.p-mv__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-mv__content {
  max-width: rem(700);
  position: relative;
}

.p-mv__lead-wrapper {
  text-align: center;

  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.p-mv__lead {
  font-weight: 700 !important;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $main-color;
  display: block;
  position: relative;
  text-align: center;
  padding-bottom: rem(6);
  font-size: rem(18);

  @include mq(md) {
    width: fit-content;
    font-size: rem(16);

  }
}

.p-mv__lead::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(4);
  background-color: $main-color;
}

.p-mv__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);
  background-color: #EFF7F0;
  border-radius: rem(8);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $black;
  margin-top: rem(16);
  padding: rem(4) rem(9);

  @include mq("md") {
    padding: rem(4) rem(24);
    margin-top: rem(24);
    font-size: rem(40);
  }
}

.p-mv__main {
  position: relative;

  @include mq(md) {
    padding-left: rem(37);
    margin-top: rem(32);

  }
}

.p-mv__main img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-mv__solve {
  font-size: rem(72);
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #21562B;
  -webkit-text-stroke: rem(5) $accent-color;
  text-stroke: rem(5) $accent-color;

  @include mq("md") {
    font-size: rem(132);
  }
}

.p-mv__suffix {
  margin: 0;
  font-size: rem(40);
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $black;
  margin-top: rem(-8);

  @include mq("md") {
    font-size: rem(56);
    margin-top: rem(-24);
  }
}

.p-mv__bubble {
  position: absolute;
  top: rem(-8);
  left: rem(8);
  background-color: $accent-color;
  transform: rotate(-15deg);
  border-radius: rem(32);
  padding: rem(8) rem(18);
  font-size: rem(20);
  font-weight: $bold;
  letter-spacing: 0.05em;
  color: $black;

  @include mq("md") {
    top: rem(-18);
    left: rem(18);
    font-size: rem(28);
    padding: rem(10) rem(22);
  }
}

.p-mv__bubble::after {
  content: '';
  position: absolute;
  left: rem(16);
  bottom: rem(-8);
  width: rem(18);
  height: rem(18);
  background-color: $accent-color;
  transform: rotate(45deg);
  border-radius: rem(2);
}

.p-mv__catch {
  font-weight: $bold;
  letter-spacing: 0.05em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $black;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  line-height: 1.6;
  font-size: rem(14);
  margin-top: rem(240);

  @include mq(md) {
    line-height: 1.75;
    font-size: rem(16);
    margin-top: rem(16);
    max-width: rem(564);

  }
}

.p-mv__btn-wrapper {
  text-align: center;
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);

  }
}

.p-mv__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(16) rem(24);
  border-radius: rem(8);
  background-color: $accent-color;
  box-shadow: rem(8) rem(8) 0 rgba(0, 0, 0, 0.1);
  font-size: rem(18);
  font-weight: 700 !important;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: $black;
  max-width: rem(242);
  height: rem(48);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    width: 100%;
    max-width: rem(342);
    height: rem(64);
    font-size: rem(24);
  }
}

.js-mv-lead {
  opacity: 0;
}