@use "../global" as *;

.p-now {
  padding-top: rem(40);
  padding-bottom: rem(40);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);

  }
}
.p-now__content {
  background: url(../images/common/now-cta-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  position: relative;
  text-align: center;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-top: rem(77);
  padding-bottom: rem(32);
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md){
    padding-top: rem(32);
    padding-bottom: rem(37);
    margin-left: initial;
    margin-right: initial;
    padding-left: initial;
    padding-right: initial;
    
  }
}
.p-now__now {
  position: absolute;
  top: rem(-9);
  height: auto;
  width: rem(66);
  left: rem(20);
  @include mq(md) {
    left: rem(52);
    width: rem(89);
  }
}

.p-now__now {
  position: absolute;
  top: rem(-9);
  width: rem(66);
  height: auto;
  left: rem(14);
  @include mq(md) {
    width: rem(89);
    left: rem(52);
  }
}
.p-now__now img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}



.p-now__detail-title {
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;
  @include mq("md") {
    font-size: rem(32);
  }
}

.p-now__detail-text {
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $white;
  text-align: left;
  margin-top: rem(16);
  font-size: rem(16);
  @include mq("md") {
    text-align: center;
    margin-top: rem(32);
  }
}

.p-now__detail-btn {
  margin-top: rem(16);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(16) rem(24);
  border-radius: rem(8);
  background-color: $accent-color;
  box-shadow: rem(8) rem(8) 0 rgba(0, 0, 0, 0.1);
  font-size: rem(20);
  font-weight: $bold !important;
  letter-spacing: 0.05em;
  color: $black;
  line-height: 1.6;
  height: rem(48);
  max-width: rem(274);
  @include mq("md") {
    max-width: rem(342);
    height: rem(64);
    line-height: 1.7;
    font-size: rem(24);
    margin-top: rem(32);
  }
}