@use "../global" as *;

.p-now {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);

  }
}

.p-now__cta {
  position: relative;
}

.p-now__cta-bg {
  overflow: hidden;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq(md){
    width: 100%;
    margin-left: initial;
    margin-right: initial;
  }
}

.p-now__cta-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 375 / 419;

  @include mq(md) {
    aspect-ratio: 1200 / 304;
  }
}

.p-now__cta-inner {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(24);
  text-align: center;
  padding-top: rem(77);
  padding-bottom: rem(32);

  @include mq(md) {
    padding: rem(24);

  }
}

.p-now__badge {
  position: absolute;
  top: rem(-9);
  height: auto;
  width: rem(66);
  left: rem(14);

  @include mq(md) {
    left: rem(52);
    width: rem(89);
  }
}

.p-now__badge img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-now__badge-text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: $black;
  font-size: rem(14);
  margin-top: rem(13);
  @include mq(md) {
    margin-top: rem(-16);
    font-size: rem(20);
  }
}

.p-now__badge-text span {
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(24);

  }
}

.p-now__title {
  margin: 0;
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;
  @include mq("md") {
    font-size: rem(32);
  }
}

.p-now__text {
  margin: 0;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $white;
  text-align: left;
  @include mq("md") {
    text-align: center;
    font-size: rem(16);
  }
}

.p-now__body {
  display: grid;
  gap: rem(16);
  justify-items: center;
}

.p-now__btn {
  margin-top: rem(8);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(16) rem(24);
  border-radius: rem(8);
  background-color: $accent-color;
  box-shadow: rem(8) rem(8) 0 rgba(0, 0, 0, 0.1);
  font-size: rem(20);
  font-weight: $bold !important;
  letter-spacing: 0.05em;
  color: $black;
  line-height: 1.6;
  height: rem(48);
  max-width: rem(274);
  @include mq("md") {
    max-width: rem(342);
    height: rem(64);
    line-height: 1.7;
    font-size: rem(24);
  }
}