@use "../global" as *;

.p-point {
  position: relative;
  overflow: hidden;
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(72);
    padding-bottom: rem(72);

  }
}

.p-point__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.p-point__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-point__content {
  position: relative;
}

.p-point__title {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;

  @include mq("md") {
    text-align: center;
    font-size: rem(32);
  }
}

.p-point__panel {
  margin-top: rem(40);
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(20);
  padding-left: rem(16);
  padding-right: rem(16);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: rem(12);


  @include mq("md") {
    border-radius: rem(16);
    padding-top: rem(104);
    padding-bottom: rem(40);
    padding-left: rem(60);
    padding-right: rem(60);
  }
}

.p-point__panel+.p-point__panel {
  margin-top: rem(40);

  @include mq(md) {

    margin-top: rem(82);
  }
}

.p-point__panel-badge {
  position: absolute;
  z-index: 1;
  width: rem(56);
  height: rem(56);
  top: rem(-24);
  left: rem(-16);
  @include mq(md){
    top: rem(-48);
    left: rem(-28);
    width: rem(100);
    height: rem(100);
    
  }
}

.p-point__panel-badge img {
  width: 100%;
  height: 100%;
}

.p-point__panel-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(64);
  border-radius: rem(8) rem(8) 0 0;
  background-color: #579E64;
  display: grid;
  place-items: center;
}

.p-point__panel-head-text {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $white;

  @include mq("md") {
    font-size: rem(28);
  }
}

.p-point__panel-head-text span {
  color: $accent-color;
}

.p-point__items {
  display: grid;
  gap: rem(16);

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(36);
  }
}

.p-point__item {
  background-color: $white;
  padding: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(8);
}

.p-point__num {
  width: rem(72);
  height: rem(72);
  border-radius: 50%;
  background-color: #579E64;
  color: $white;
  display: grid;
  place-items: center;
  font-size: rem(28);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  font-family: "MuseoModerno", system-ui, -apple-system, "Segoe UI", sans-serif;
}

.p-point__item-title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: #579E64;
  text-align: center;

  @include mq("md") {
    font-size: rem(22);
  }
}

.p-point__item-text {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $black;
  text-align: left;
}

.minHeight-81 {
  @include mq(md) {

    min-height: rem(81);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}