@use "../global" as *;

.p-site {
  padding-top: rem(64);
  padding-bottom: rem(40);
}

.p-site__title-wrapper {
  text-align: center;
}


.p-site__text {
  margin-top: rem(24);
}

.p-site__issues {
  margin-top: rem(83);
}

.p-site__issues-grid {
  display: grid;
  gap: rem(24);

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}

.p-site__issue-card {
  background-color: #F0F0F0;
  border-radius: rem(24);
  position: relative;
  padding: rem(52) rem(20) rem(32);
  display: flex;
  flex-direction: column;

  @include mq("md") {
    padding: rem(52) rem(24) rem(32);
  }
}

.p-site__issue-quote {
  position: absolute;
  top: rem(-27);
  left: rem(20);
  width: rem(80);
  height: auto;
}

.p-site__issue-title {
  margin: 0;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-align: center;
  color: $main-color;

  @include mq("md") {
    font-size: rem(24);
  }
}

.p-site__issue-list {
  margin-top: rem(18);
  display: grid;
  flex: 1;
  padding-left: rem(34);
  padding-right: rem(34);
}

.p-site__issue-item {
  display: flex;
  gap: rem(5);
  align-items: center;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  padding-left: rem(4);
  color: $black;
}

.p-site__issue-item::before {
  content: '';
  width: rem(8);
  height: rem(8);
  border-radius: 999px;
  background-color: $main-color;
  flex-shrink: 0;
}

.p-site__issue-btn {
  margin-top: rem(24);
  background-color: $main-color;
  color: $white;
  border-radius: rem(32);
  padding: rem(8) rem(24);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16);
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1.7;
  letter-spacing: 0.05em;

  @include mq("md") {
    margin-top: rem(32);
    font-size: rem(24);
    width: rem(465);
    margin-left: auto;
    margin-right: auto;
  }
}

.p-site__issue-btn-icon {
  width: rem(18);
  height: rem(18);
}

.p-site__arrow {
  margin-top: rem(28);
  max-width: rem(48);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    margin-top: rem(47);
    max-width: rem(85);
  }
}

.p-site__arrow img {
  width: 100%;
  height: auto;
}