@use "../global" as *;

.p-site {
  padding-top: rem(40);
  padding-bottom: rem(24);
  position: relative;
  z-index: 4;

  @include mq(md) {
    padding-top: rem(64);
    padding-bottom: rem(40);

  }
}

.p-site__title-wrapper {

  @include mq(md) {
    text-align: center;
  }
}


.p-site__text {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
  }
}

.p-site__issues {
  margin-top: rem(32);

  @include mq(md) {
    margin-top: rem(83);
  }
}

.p-site__issues-grid {
  display: grid;
  gap: rem(24);

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}

.p-site__issue-card {
  background-color: #F0F0F0;
  border-radius: rem(24);
  position: relative;
  padding: rem(24) rem(16) rem(24);
  display: flex;
  flex-direction: column;

  @include mq("md") {
    padding: rem(52) rem(24) rem(32);
  }
}

.p-site__issue-quote {
  position: absolute;
  width: rem(32);
  height: auto;
  top: rem(-16);
  left: rem(16);

  @include mq(md) {
    left: rem(20);
    top: rem(-27);

    width: rem(80);
  }
}

.p-site__issue-title {
  margin: 0;
  font-weight: $bold;
  font-variation-settings: "wght" 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: $main-color;
  font-size: rem(18);

  @include mq("md") {
    font-size: rem(20);
    text-align: center;
    font-size: rem(24);
  }
}

.p-site__issue-list {
  display: grid;
  flex: 1;
  padding-left: rem(12);
  padding-right: rem(12);
  margin-top: rem(12);

  @include mq(md) {
    margin-top: rem(18);
    padding-left: rem(34);
    padding-right: rem(34);

  }
}

.p-site__issue-item {
  display: flex;
  gap: rem(5);
  font-size: rem(16);
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
  padding-left: rem(4);
  color: $black;
  @include mq(md) {
    align-items: center;
  }
}
.p-site__issue-item + .p-site__issue-item {
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}

.p-site__issue-item::before {
  content: '';
  width: rem(8);
  height: rem(8);
  border-radius: 999px;
  background-color: $main-color;
  flex-shrink: 0;
  margin-top: rem(11);

  @include mq(md) {
    margin-top: initial;
  }
}

.p-site__issue-btn {
  margin-top: rem(16);
  background-color: $main-color;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16);
  font-weight: $bold;
  font-variation-settings: "wght" 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
  border-radius: rem(16);
  font-size: rem(16);
  padding: rem(8) rem(16);

  @include mq("md") {
    padding: rem(8) rem(24);

    border-radius: rem(32);
    margin-top: rem(32);
    font-size: rem(24);
    width: rem(465);
    margin-left: auto;
    margin-right: auto;
  }
}

.p-site__issue-btn-icon {
  width: rem(18);
  height: rem(18);
}

.p-site__arrow {
  margin-top: rem(28);
  max-width: rem(48);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    margin-top: rem(47);
    max-width: rem(85);
  }
}

.p-site__arrow img {
  width: 100%;
  height: auto;
}